<!DOCTYPE html>
<html lang="en">
    
   
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
      <title>Afficheur NTIC</title>
 <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/flat-admin.css">
     <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme/blue-sky.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme/blue.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme/red.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme/yellow.css">
     <link rel="stylesheet" type="text/css" href="/stylesheets/more.css">
   
    </head>
    
    <body style="margintop:100px ">
        
        <nav class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                 
                   <ul class="nav navbar-nav">
                        <li class="active"><span class="glyphicon glyphicon-home" ></span></li> 
                        
           
                         </ul>
                </div>
            </div>
        </nav>
           
       
        
        <header class="jumbotron row-header">
        <section class="section-divider textdivider divider6">
			<div class="container">
				<h1 >BienVenu a Gestion de La délibération  des Etudiants dans NTIC </h1>
				<hr>
				<p>+216 97731828</p>
                <p>+216 97859683</p>
				<p><a class="fa fa-facebook-square" href="www.facbook.com"></a> | <a class="fa fa-twitter-square" href="www.twitter.com"></a></p></div>
		</section>

    </header>
        
        
       
		<div class="container" id="blog" name="blog">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">La gestion Total des Etudiants </h1>
				
				<br>
				<br>
			</div><!-- /row -->
			
			<div class="row">
                        
                      <div class="col-lg-4 blog-bg">
					<div class="col-lg-4 centered">
					<br>
                 <img   data-toggle="modal" data-target="#addModule" src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                
			<h3 class="text-center">Enseingant</h3>
            <p class="text-center"></p> 
						 
					</div>
					<div class="col-lg-8 blog-content">
						<h2>Vous étes un  Enseignant?</h2>
                        <p> SVP Vous avez Besoins d'authentification </p>
						<p><a class="icon icon-link"> si votre authentification  incorrect  Envoyez Un email </a></p>
						<br>
					</div>
				</div><!-- /col -->
                <div class="col-lg-4 blog-bg">
					<div class="col-lg-4 centered">
					<br>
                 <img   data-toggle="modal" data-target="#login1" src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                
			<h3 class="text-center">Admin</h3>
            <p class="text-center"></p> 
						 
					</div>
					<div class="col-lg-8 blog-content">
						<h2>Vous étes un Responsable?</h2>
                        <p> SVP Vous avez Besoins d'authentification </p>
						<p><a class="icon icon-link"> si votre authentification  incorrect  Envoyez Un email </a></p>
						<br>
					</div>
                        </div>
				 <div class="col-lg-4 blog-bg">
					<div class="col-lg-4 centered">
					<br>
                 <img   data-toggle="modal" data-target="#login2" src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                
			<h3 class="text-center">Etudiant</h3>
            <p class="text-center"></p> 
						 
					</div>
					<div class="col-lg-8 blog-content">
						<h2>Vous étes un Etudiant?</h2>
                        <p> SVP Vous avez Besoins d'authentification </p>
						<p><a class="icon icon-link"> si votre authentification  incorrect  Envoyez Un email </a></p>
						<br>
					</div>
				</div><!-- /col -->
			<!-- /col -->
				
				
			
			<br>
			<br>
		</div>
 <!-- mymodal-->
<div id="login1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Authentification</h4>
            </div>
            <div class="modal-body">
                <form method="get" class="form form-horizontal"  action="/admin">

                    <input type="hidden" name="_method" value="post">

                    <div class="form-group" style="padding: 10px 30px">
                        <label class="col-md-3 control-label">User</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder=" user" name="user" type="text">
                        </div>
                    </div>
                    
               
                    <div class="form-group" style="padding: 10px 30px">
                        
                   <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="Password" name="pwd" type="text">
                        </div>
                    </div>   
    
                  
                    
                    <div class="form-footer"  >
                       
                        <div class="form-group" >
                           
                            <div class="col-md-9 col-md-offset-6">
                           
     <input  type="submit" name="submit"  value="Envoyer"  style="margin-left: 115px"
                                       class="btn btn-success">
                               
                            </div>
                           
                        </div>
                            
                    </div>
                       > 
                                                       </form>
                                                            
            </div>
               
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
                                                                                  

    </div>
                                                                                  
</div>

<script type="text/javascript" src="/javascripts/vendor.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>



        
  
        
        
 
            
    <!--fouter de notre site-->       
 <footer class="row-footer">
      
                
                
   
    </footer>
            
            
            <div id="login2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Authentification</h4>
            </div>
            <div class="modal-body">
                <form method="get" class="form form-horizontal"   action="/admin/delib">

                    <input type="hidden" name="_method" value="get">

                    <div class="form-group" style="padding: 10px 30px">
                        <label class="col-md-3 control-label">User</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder=" user" name="user" type="text">
                        </div>
                    </div>
                    
               
                    <div class="form-group" style="padding: 10px 30px">
                        
                   <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="Password" name="pwd" type="text">
                        </div>
                    </div>   
    
                  

                    <div class="form-footer">
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-6">
                                <input type="submit" name="submit" value="Envoyer" href="/admin" style="margin-left: 115px"
                                       class="btn btn-success">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="/javascripts/vendor.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>



        
  
        
        
 
            
    <!--fouter de notre site-->       
 <footer class="row-footer">
      
                
                
   
    </footer>
  
  
    
   <script src="js/bootstrap.min.js"></script>

        </div>
    </body>
</html>