<!DOCTYPE HTML>
<html>
<head>
    <title>404 PAGE NOT FOUND</title>
    <link href="/stylesheets/not-found-style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<!--start-wrap--->
<div class="wrap">
    <!--start-content------>
    <div class="content">
        <img src="/images/404e.jpg" title="error"/>
        <p><span><label>O</label>hh.....</span>Cette page n'existe pas.</p>
        <a href="/">Back To Home</a>
        <div class="copy-right">
            <p>&#169 All rights Reserved | Designed by <a href="http://w3layouts.com/">W3Layouts</a></p>
        </div>
    </div>
    <!--End-Cotent------>
</div>
<!--End-wrap--->
</body>
</html>

