.row-footer{
background-color: #111111;
margin:0px auto;
padding: 20px 0px 20px 0px;
    color:#DCDCDC;
}

body{
background-color:#000000;}


address{
font-size:80%;
margin:0px;
color:#0f0f0f;
}
.divider6 {
	background-image: url('../images/mi.jpg')
}

.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;


    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.row-header{
margin:0px auto;
padding:0px auto;
margin-top:0px;
background-color:#000000;

}
.text-center{
    color:#ffffff;
}
.centered{
    color:#fff;
}

.blog-bg {
	background: #2b2b2b;
	padding-right: 0px;
	padding-left: 0px;
	font-size: 11px;
}

.blog-content {
	padding-top: 10px;
	background: #f2f2f2;
}


h8,h7{
    font-weight: 300;
    color: #DCDCDC;
    font-family: "Raleway";
}
